@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Octabrskaya 10, 904<br />
    <abbr title="Phone">P:</abbr>
    +375(29) 728-29-11
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:daniil.boyko.2017@gmail.com">daniil.boyko.2017@gmail.com</a><br />
</address>